body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 44, 44);
    height: 100vh;
    color:rgb(248, 253, 253);
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: center; 
}
button{
    background-color: rgb(248, 253, 253);
    color:rgb(30, 44, 44);
    padding: .6rem 1.6rem;
    border: 1px solid rgb(30, 44, 44);
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
}
button:hover{
    background-color: rgb(30, 44, 44);
    color:rgb(248, 253, 253);
    border: 1px solid rgb(248, 253, 253);
}
p{
    font-size: 24px;
    font-weight: 600;
    background-color: rgb(248, 253, 253);
    color:rgb(30, 44, 44);
    padding: .6rem 1.6rem;
    margin: .2rem;
    border-radius: 4px;
}